sample_flows/sensorTag-IoT.txt
[{"id":"83cb0fed.ef171","type":"sensorTag","z":"ed632ead.123c4","name":"","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":106.5,"y":99,"wires":[["32fabc98.65c4e4"]]},{"id":"2f05d164.aa91ae","type":"debug","z":"ed632ead.123c4","name":"","active":true,"console":"false","complete":"false","x":412.5,"y":117,"wires":[]},{"id":"32fabc98.65c4e4","type":"function","z":"ed632ead.123c4","name":"modify topic","func":"var t = msg.topic\nmsg.event = t.substr(10);\nmsg.topic = msg.event;\nmsg.payload = '{d: '+msg.payload+'}';\nreturn msg;","outputs":1,"noerr":0,"x":264.5,"y":27,"wires":[["2f05d164.aa91ae","d4df1729.68f4a8"]]},{"id":"d4df1729.68f4a8","type":"wiotp out","z":"ed632ead.123c4","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7ca5076f.4d8db8","deviceType":"","deviceId":"","event":"","format":"json","name":"CC2650IoT","x":484.5,"y":28,"wires":[]},{"id":"7ca5076f.4d8db8","type":"wiotp-credentials","z":"","name":"CC2650_Cred","org":"mhfftp","devType":"CC2650","devId":"JrqnArGU"}]